AUTH_SECRET=
AUTH_TRUST_HOST=true
AUTH_URL=

AUTH_USERNAME=
AUTH_PASSWORD=

# TURSO (base de datos)
TURSO_DATABASE_URL=
TURSO_AUTH_TOKEN=

# Cloudinary
CLOUDINARY_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
